.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.about-page img {
    align-self: center;
    max-width: 500px;
    min-width: 320px;
    border-radius: 8px;
}

.about-page div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}

.about-page div div {
    width: 230px;
    font-weight: 400;
    font-size: 12px;
    padding: 0 2rem;
    border-left: 3px solid #bee1ff;;
}

