@media (max-width: 500px){
    .header #pizza {
        display: none;
    }
    .item-description {
        display: none
    }
    .item-price {
        padding-left: 1rem;
    }

    .about-page img {
        width: 350px;
    }
}